<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Project SOLID" parallel="classes" thread-count="10">
    <test name="Solid Prototype Automation Tests">
        <classes>
            <class name="com.knight.solid.tests.Runner" />
        </classes>
    </test>

</suite>